@media only screen and (max-width: 1024px) {

    #nav-bar-elements {
        margin-left: 8%;
    }
    #toggle-mode-container {
        margin-left: 42%;
        margin-top: 14px;
    }

    #lhs-navbar p {
        margin-left: 36%;
        margin-top: 17px;
    }

    #profile-image {
        height: 367px;
        margin-left: 8%;
    }

    #my-details {
        font-size: 18px;
        text-align: justify;
        margin-bottom: 40px;
    }

    .banner-details {
        height: 74vh;
    }

    .banner-btn-dark-mode, .banner-btn {
        padding: 18px;
        width: 165px;
        border-radius: 15px;
    }

    .educationBox {
        width: 72%;
    }

    .work-experiance-box{
        width: 60%;
    }
  }


  /* Tablet */

  @media only screen and (max-width: 786px) {
    #nav-bar {
        font-size: 1rem;
    }
    #toggle-mode-container {
        margin-top: 5px;
    }

    #lhs-navbar p {
        margin-top: 8px;
    }
    #nav-bar-elements {
        margin-left: 3%;
    }

    #profile-image {
        height: 325px;
        margin-top: 43px;
        margin-left: 8%;
    }

    .banner-heading {
        font-size: 2.5rem;
    }
    .banner-details #job-role {
        font-size: 1.5rem !important;
    }

    #my-details {
        font-size: 12px;
        text-align: justify;
        margin-bottom: 40px;
    }

    .banner-btn-dark-mode, .banner-btn {
        padding: 18px;
        width: 179px;
        margin-bottom: 18px;
        border-radius: 15px;
    }

    .banner-details {
        height: 90vh;
    }

    h1#work-experiance-heading {
        font-size: 2rem;
    }

    .work-experiance-box {
        width: 71%;
        height: 52vh;
    }

    h1.project-heading {
        font-size: 2rem;
    }

    .projects-container {
        width: 100%;
    }

    .educationBox {
        width: 74%;
    }

    .educationContainer {
        border-left: 4px solid rgb(50, 224, 255);
        border-radius: 4px;
        margin-left: 3%;
    }

    .project-display-box {
        width: 237px;
    }
  }


  /* large phones */
  @media only screen and (max-width: 425px){
    #nav-bar-elements {
        display: none;
    }

    div#lhs-navbar {
        margin-left: -5%;
    }

    #toggle-mode-container {
        margin-left: 60%;
    }
    .banner-details {
        flex-direction: column-reverse;
        width: 100%;
    }

    #profile-image {
        height: 125px;
        margin-top: 25%;
        margin-left: 39%;
        border-radius: 48%;
        border: 1px solid white;
    }

    .right-part-banner {
        left: 31%;
        margin-top: 9%;
        position: absolute;
        top: 1%;
    }

    .left-part-banner {
        position: absolute;
        width: 96%;
        margin-top: 44%;
        top: 1%;
        margin-left: 24px;
    }
    #my-details {
        font-size: 15px;
        margin-left: -4%;
        text-align: justify;
        width: 98%;
        left: -4%;
        margin-bottom: 40px;
    }
    
    .banner-details {
        flex-direction: column-reverse;
        width: 100%;
        height: 117vh;
    }

    .banner-heading {
        font-size: 1.8rem;
    }
    .banner-details #job-role {
        font-size: 16px !important;
    }

    .work-experiance-box {
        width: 100%;
        height: 292px;
        margin-left: 12px;
        margin-bottom: 44px;
    }

    .company-name {
        margin-left: 15px;
        font-size: 1.5rem;
    }

    .projects-container {
        width: 100%;
        height: max-content;
        margin-left: 50px;
    }
    
    /* .project-box {
        margin: 13px;
        width: 119px;
    } */

    .project-box {
        width: 144px;
        margin: 20px;
        height: 150px;
    }

    .project-box p {
        font-size: 1rem;
        margin-top: 59px;
    }

    #project-heading {
        font-size: 2rem;
    }

    .project-display-box {
        width: 300px;
        height: 141px;
    }

    .projects-container {
        margin-left: -2%;
    }

    h1.educationHeading {
        font-size: 2rem;
    }

    .educationContainer {
        border: none;
        margin-left: 0;
    }

    .lhsicon {
        display: none !important;
    }

    .educationBox {
        width: 397px;
        margin-left: 2px;
    }

    /* .educationBox {
        padding: 0;
        margin-left: 2px;
        width: 95%;
    } */

    .college-name-education-box {
        font-size: 14px;
        margin-left: -12px;
    }

    .percent-education-box {
        font-size: 11px;
    }

    .rhs-education-box li {
        margin-left: -31px;
        font-size: 10px;
    }

    .display-project-container{
        margin-left: 21%;
    }





  }